<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceRoute" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2684/IServiceRoute.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceRoute" contract="ServiceCalculoRota.IServiceRoute"
                name="BasicHttpBinding_IServiceRoute" />
        </client>
    </system.serviceModel>
</configuration>